*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Header general */

.header--general {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.3rem;
    height: 4rem;
    width: 96vw;
    font-size: 2rem;
    font-weight: 900;
    background-color: rgba(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
}

.logo img {
    margin: 0;
    padding: 0.5rem 0 0 0;
    height: 3rem;
}

/* Menus */

header nav ul {
    margin: 1rem;
}

header nav ul li {
    display: inline-block;
    margin: 0 1rem 0 0;
}

a {
    text-decoration: none;
    color: #000ba0;
}

header a:hover,
a h2:hover,
a h3:hover {
    background: rgb(0 0 0 / 30%);
    border-radius: 0.5rem;
    transition: .5s ease;
}

.linkActive {
    border: 3px solid;
    border-radius: 0.5rem;
}

/*Submenu*/

.submenu {
    position: relative;
}

header ul ul {
    display: none;
    position: absolute;
    margin: 1.2rem 0;
    border-radius: 0 0 1rem 1rem;
    top: 1rem;
}

header ul ul li {
    display: block;
}

header ul li:hover ul {
    display: block;
    background-color: rgba(255, 255, 255);
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 3px 6px 5px -4px rgb(0 0 0 / 100%);
}

/* Icono submenu */

.fa-sort-down {
    margin-left: 0.5rem;
}

/* Footer general */

.footer--general {
    justify-self: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    width: 96vw;
    font-size: 1.5rem;
    font-weight: 900;
}

.footer__padre {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__informacion {
    padding: 1rem;
}

.footer__redes {
    display: flex;
    flex-direction: row;
}

.footer__redes a {
    padding: 1rem;
}

.fa-facebook {
    font-size: 2rem;
    background-color: #2b4170;
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-instagram {
    font-size: 2rem;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook:hover,
.fa-instagram:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 100%);
}

.fa-linkedin {
    font-size: 2rem;
    background: #2867B2;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 100%);
}

.footer__suscripcion {
    display: flex;
    flex-direction: column;
    padding: 0 3rem 0 0;
}

.footer__suscripcion form input {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #000;
}

.suscripcion--boton {
    background: linear-gradient(180deg, #647ed4 0%, #77e0fa 100%);
    transition: all .3s;
}

.suscripcion--boton:hover {
    background: linear-gradient(180deg, #fbde74 0%, #ff9900 100%);
    transition: all .3s;
}

.fa-whatsapp {
    position: fixed;
    margin: 0;
    padding: 0.6rem;
    bottom: 2vh;
    right: 1vw;
    font-size: 3rem;
    color: #fff;
    background-color: #3ec34f;
    border-radius: 50%;
}

.fa-whatsapp:hover {
    border-radius: 50%;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 100%);
}

.footer__copyright {
    text-align: center;
    font-style: italic;
    font-weight: 900;
}

/* Inicio */

.grilla--inicio {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    min-height: 100vh;
}

.header--inicio {
    grid-area: 1 / 1 / 2 / 5;
}

.section1--inicio {
    grid-area: 2 / 1 / 5 / 5;
    justify-self: center;
    align-self: stretch;
    
}

.section1--inicio,
.section1--nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 90vw;
}

.fondo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 30%);
}

.banner {
    margin: 0.5rem 0;
    padding: 0 0.5rem 0.5rem 1rem;
    height: 4rem;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: #000;
}

.imagenInicio img,
.imagenNosotros img {
    height: 20rem;
}

.textoNosotros {
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.section2--inicio {
    grid-area: 5 / 1 / 7 / 5;
    justify-self: center;
    align-self: stretch;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    width: 95%;
}

h2,
h3 {
    padding: 0 0.5rem 0 0.5rem;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
}

.index__link--proyectos {
    grid-area: 1 / 1 / 2 / 5;
    justify-self: center;
    align-self: stretch;
}

.indexProyectos__img {
    justify-self: center;
    align-self: stretch;
    margin: 0.5rem;
    width: 95%;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 50%);
}

.indexProyectos__img--A {
    grid-area: 2 / 1 / 3 / 2;
}

.indexProyectos__img--B {
    grid-area: 2 / 2 / 3 / 3;
}

.indexProyectos__img--C {
    grid-area: 2 / 3 / 3 / 4;
}

.indexProyectos__img--D {
    grid-area: 2 / 4 / 3 / 5;
}

.indexProyectos__img:hover {
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 100%);
}

.footer--inicio {
    grid-area: 7 / 1 / 8 / 5;
}